@tailwind base;
@tailwind components;
@tailwind utilities;

.h-35vh {
  height: 35vh;
}

.h-70vh {
  height: 70vh;
}

.mt-3vh {
  margin-top: 3vh;
}

.dark-triangle {
  position: relative;
  height: 0.2vh;
}

.dark-triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4vw 49vw 0vw 49vw;
  border-color: rgb(31 41 55 / var(--tw-bg-opacity)) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.reverse::before {
  border-width: 0vw 49vw 4vw 49vw;
  border-color: transparent transparent rgb(31 41 55 / var(--tw-bg-opacity)) transparent;
  transform: translateX(-50%);
}

