@tailwind base;
@tailwind components;
@tailwind utilities;

.h-35vh {
  height: 35vh;
}

.h-70vh {
  height: 70vh;
}

.clip-hero {
  clip-path: polygon(0% 0%,100% 0%,100% 85%,50% 100%,0% 85%);
}
.clip-auction {
  clip-path: polygon(50% 15%,100% 0%,100% 85%,50% 100%,0% 85%,0% 0%);
  margin-top: -5vh;
}

.section-shadow {
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
}