@tailwind base;
@tailwind components;
@tailwind utilities;

.h-50vh {
  height: 50vh;
}

.dark-triangle {
  position: relative;
  height: 1vh;
}

.dark-triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4vw 49vw 0vw 49vw;
  border-color: rgb(31 41 55 / var(--tw-bg-opacity)) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

